@use "../base/variables"as v;

.alert {
  margin-top: 1.5rem;
  padding: 1rem 1rem;
  width: 100%;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 300;
  transition: .2s;
  text-align: left;

  &.error {
    color: darken($color: v.$red, $amount: 10%);
    border-left: .2rem solid v.$red;

    &:hover {
      background-color: lighten($color: v.$red, $amount: 38%);
      border-left: .5rem solid v.$red;
    }
  }

  &.succes {
    color: darken(v.$green, 10);
    border-left: .2rem solid v.$green;

    &:hover {
      background-color: lighten($color: v.$green, $amount: 40%);
      border-left: .5rem solid v.$green;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateX(1.2rem);
  }
}

.sweetalert {

  &.text {
    font-size: 1.8rem;
  }

  &.actions {
    width: 28rem;
    display: flex;
    justify-content: space-around;
  }

  &.btn-success,
  &.btn-danger {
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: .5rem;
    color: v.$white;
    transition: .3s;
  }

  &.btn-success {
    background-color: v.$pacificBlue;

    &:hover {
      background-color: darken(v.$pacificBlue, 10);
    }
  }

  &.btn-danger {
    background-color: v.$red;

    &:hover {
      background-color: darken(v.$red, 10);
    }
  }

}