@use "../base/variables"as v;

.alert {
  margin-top: 1.5rem;
  padding: 1rem 1rem;
  width: 100%;
  background-color: none;
  font-size: 1.4rem;
  font-weight: 300;
  transition: .2s;
  text-align: left;

  &.error {
    color: darken($color: v.$red, $amount: 10%);
    border-left: .2rem solid v.$red;

    &:hover {
      background-color: lighten($color: v.$red, $amount: 38%);
      border-left: .5rem solid v.$red;
    }
  }

  &.succes {
    color: v.$green;
    border-left: .2rem solid v.$green;

    &:hover {
      background-color: lighten($color: v.$green, $amount: 46%);
      border-left: .5rem solid v.$green;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateX(1.2rem);
  }
}