@use "../base/variables"as v;
@use "../base/mixins"as m;

.form {
  margin-top: 3rem;

  .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;

    input {
      font-weight: 300;
      color: lighten($color: v.$black, $amount: 20%);
      padding: 1rem 0 .5rem 0;
      border: none;
      outline: none;
      border-bottom: .1rem solid v.$gray;
      transition: .3s;

      &:hover {
        border-bottom: .1rem solid darken(v.$gray, 25%);
      }
    }

  }
}