@use "../base/variables"as v;
@use "../base/mixins"as m;

.form-dashboard {
  margin-top: 3rem;
  padding: 2rem;
  border-radius: .5rem;
  background-color: v.$white;

  .field {
    display: flex;
    margin-bottom: 3rem;

    @include m.min_desktop {
      align-items: center;
    }

    @include m.max_desktop {
      flex-direction: column;
      justify-content: center;

      label {
        margin-bottom: 1rem;
      }

    }

    label {
      max-width: 20rem;
      width: 100%;
    }

    input:not([type="submit"]) {
      flex: 1;
      outline: none;
      background-color: transparent;
      padding: 1rem;
      font-weight: 300;
      border-radius: .5rem;
      border: .1rem solid v.$gray;
      color: v.$spaceCadet;
      transition: .3s;

      &:hover {
        border: .1rem solid v.$spaceCadet;
      }
    }

  }

  .button-create {
    @include m.min_desktop {
      @include m.button(v.$xblue, v.$white, "inline-block");
      padding: 1rem 2rem;
      font-size: 1.6rem
    }

    @include m.max_desktop {
      @include m.button_input(v.$xblue, v.$white, "inline-block");
    }
  }

}