@use "../base/variables"as v;
@use "../base/mixins"as m;

.my-view {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}