@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&family=Roboto:wght@300;500;700;900&display=swap');
// Fuentes
$fontPrincipal: 'Poppins',
sans-serif;
$fontTitles: 'Roboto',
sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blue: #65c2f1;
$red: #df4f4f;
$pink: #d863b7;
$purple: #8d68d8;
$green:#6a9f52;
$orange:#edbd75;
$black: #262728;

$radicalRed: #d63e5f;
$russianViolet: #67479c;

$darkCornFlower: #1E3888;
$pacificBlue: #47A8BD;
$rajah: #dd955b;
$bigDipUruby: #bd4559;

$spaceCadet:#2D3142;
$blackCoral: #4F5D75;
$silver: #BFC0C0;
$mandarin:#EF8354;

$white: #FFFFFF;
$gray: #e1e1e1;
$gray2: #717171;