@use "../base/variables"as v;
@use "../base/mixins"as m;

.bar-mobile {
  background-color: v.$xblue;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: v.$white;
  }

  @include m.min_tablet {
    display: none;
  }

  .menu {
    img {
      width: 4rem;
      height: 4rem;
    }

    transition: .1s;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.bar {
  display: none;


  @include m.min_tablet {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid v.$xgrayA;
  }

  p {
    span {
      color: v.$xblue;
      font-weight: 500;
    }
  }

  .logout {
    border-radius: .5rem;
    padding: .5rem;
    font-weight: 500;
    color: v.$radicalRed;
    transition: .2s;

    &:hover {
      background-color: lighten($color: v.$red, $amount: 30%);
    }
  }
}