@use "../base/variables"as v;
@use "../base/mixins"as m;

.bar {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  // border-radius: .5rem;
  // background-color: v.$white;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid v.$xgrayA;

  p {
    span {
      color: v.$xblue;
      font-weight: 500;
    }
  }

  .logout {
    border-radius: .5rem;
    padding: .5rem;
    font-weight: 500;
    color: v.$radicalRed;
    transition: .2s;

    &:hover {
      background-color: lighten($color: v.$red, $amount: 30%);
    }
  }
}