@use "../base/variables"as v;
@use "../base/mixins"as m;

.dashboard {
  // background-color: lighten($color: v.$pacificBlue, $amount: 45%);
  background-color: v.$blackCoral;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  // height: 100%;
  // @include m.max_tablet {
  //   min-height: 100vh;
  // }

  @include m.min_tablet {
    display: flex;
  }

  // content data on dashboard
  .main {
    flex: 1;
  }

  // content formater box
  .content {
    padding: 2rem 1rem;
    margin: 1rem;
    border-radius: .5rem;
    background-color: v.$white;

    .page-name {
      color: v.$mandarin;
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}