@use "../base/variables"as v;
@use "../base/mixins"as m;

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 37, 42, 0.544);

  .form-task {
    padding: 2rem;
    border-radius: .5rem;
    background-color: v.$white;
    transform: translateY(-30rem);
    // animation
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    opacity: 0;

    &.animation {
      // vertical align
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      // animation
      opacity: 1;
    }

    &.close {
      transform: translateY(50%);
      opacity: 0;
    }

    // legend
    legend {
      display: block;
      margin-bottom: 2rem;
      font-weight: 500;
      font-size: 2rem;
      text-align: center;
      color: v.$mandarin;
    }

    // block form
    .field {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 3rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      // smartphone column
      @include m.max_desktop {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
      }

      // center row field
      @include m.min_desktop {
        align-items: center;
      }

      // set size inner field
      label {
        @include m.min_desktop {
          max-width: 20rem;
        }

        width: 100%;
      }

      input:not([type="submit"]) {
        flex: 1;
        outline: none;
        border-radius: .5rem;
        background-color: transparent;
        padding: 1rem;
        font-weight: 300;
        border: .1rem solid v.$gray;
        color: darken($color: v.$mandarin, $amount: 20%);
        transition: .3s;

        &:hover {
          border: .1rem solid v.$mandarin;
        }
      }

    }

    // buttons in the form
    &__buttons {
      justify-content: space-between;

      .button-new-task {
        @include m.button(v.$mandarin, v.$white, "inline-block");
      }

      .close-modal {
        @include m.button(v.$gray2, v.$white, "inline-flex")
      }
    }
  }
}