@use "../base/variables"as v;
@use "../base/mixins"as m;

.sidebar {
  background-color: v.$spaceCadet;
  padding: 1rem 2rem;

  h2 {
    margin-top: 1rem;
    text-align: center;
    color: v.$white;
  }

  .sidebar-nav {
    margin-top: 4rem;

    a {
      margin-bottom: 1.5rem;
      padding: 1rem;
      border-radius: .5rem;
      display: block;
      font-weight: 500;
      font-size: 1.4rem;
      color: v.$white;
      transition: .3s;

      @include m.max_tablet {
        font-size: 1.6rem;
      }

      &:hover {
        // color: v.$white;
        background-color: v.$blackCoral;
      }

      &.active {
        background-color: v.$blackCoral;
      }
    }

  }
}